#sign-in-content.text-center
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f|
    %h1.h3.mb-3.font-weight-normal= t('common.titles.sign_in_text')
    %label.sr-only= t('common.titles.email')
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: t('common.titles.email')
    %label.sr-only= t('common.titles.password')
    = f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: t('common.titles.password') 
    - if devise_mapping.rememberable?
      .checkbox.mb-3
        %label
          = f.check_box :remember_me
          = f.label :remember_me
    = f.submit t('common.titles.sign_in_button'), class: 'btn btn-lg btn-primary btn-block'
.more-actions-content.text-center.hide
  -# = render "devise/shared/links"